@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  // color: white;
}

a {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  &:hover {
    opacity: 0.6;
  }
}

h2 {
  color: white;
  font-variant: all-petite-caps;
}
a {
  text-decoration: none;
}

$bg: rgb(16, 16, 16);

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: $bg;
}

.header img {
  width: 120px;
  height: auto;
}

.header div {
  display: none;
}

@media screen and (min-width: 640px) {
  .header div {
    display: flex;
    gap: 1rem;
  }
  
  .header div a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .header div a:hover {
    color: white;
  }
}

.header svg {
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}
